* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
   background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 18%, rgba(0,212,255,1) 100%);
}
.Hik-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 580px;
  min-height: 660px;
  background: #92A9BD;
  text-align: center;
  margin: 100px auto;
  border-radius: 10px;
  padding-bottom: 15px;
}

h1 {
  margin-top: 33px;
  color: #FFEFEF;
  font-size: 26px;
}
p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FFEFEF;
  font-size: 20px;
}
.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.Hik-form {
  margin-bottom: 32px;
}

.Hik-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #FFEFEF;
  outline: none;
  width: 320px;
  background: #27293236;
  color: #FFEFEF;
}

.Hik-input::placeholder {
  color: #e2e2e2;
}

.Hik-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #7C99AC;
  color: #FFEFEF;
  text-transform: capitalize;
}

.Hik-input.edit {
  border: 2px solid #fffff;
}

.Hik-button.edit {
  background: #7C99AC;
  padding: 16px 22px;
}

.Hik-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.Hik-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #FFEFEF;
  background: #92A9BD;

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.Hik-row:nth-child(4n + 1) {
  background: #92A9BD;
}

.Hik-row:nth-child(4n + 2) {
  background: #92A9BD;
}

.Hik-row:nth-child(4n + 3) {
  background: #92A9BD;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 26px;
  cursor: pointer;
}
.delete-icon {
  margin-right: 7px;
  color: #FFEFEF;
}

.edit-icon {
  color: #FFEFEF;
}
